extends layout

block title
  title= album.albumInfo.name + ' | RCS Photography'
  
block content   
  div(class='page-header')
    h1 #{ album.albumInfo.name }
      br
      small #{ album.images.length } images
      
  div(id='thumbsContainer')
    - for (var i = 0; i < album.images.length; i++) { 
      - var image = album.images[i];
      - if (image && image.thumb) {
        a(href='#'+i, id='thumb'+i, class='noselect thumb scale', ondragstart='return false;')
          img(class='lazy vertically-align', data-original=image.thumb)
      - }
    - } 
        
  div(id='overlay', class='noselect', onclick='unselect()') 
    div(class='arrow opacity right', id='close') 
      a(class='fa fa-times')
 
    div(id='imageContainer', class='centered-background', style='background-image:url("../img/ajax-loader.gif")') 
      img(class='vertically-align') 
        
    div(class='arrow opacity vertically-align left', id='prev') 
      a(class='fa fa-angle-left')
    div(class='arrow opacity vertically-align right', id='next') 
      a(class='fa fa-angle-right')
  
    
  script(src='/js/jquery.lazyload.min.js')
  script(src='/js/jquery.scrolltop.min.js')  
  script.
    $(function() {
      $('img.lazy').lazyload({
        effect : 'fadeIn',
        threshold : 100
      })
    });
  
  script(src='/js/album.js')
  script.
    new Album(!{ JSON.stringify(album.images) }); 